{% extends "layout.html" %}
{% block title %}
      <h1 class="w3-jumbo w3-hide-small">{{person}}'s Shopping Cart</h1>
      <h1 class="w3-hide-large w3-hide-medium">{{person}}'s Shopping Cart</h1>
      <h1 class="w3-hide-small"></h1>
{% endblock %}
{% block titlebutton %}<a href="/shop?name={{person}}" class="w3-button w3-black w3-padding-large w3-large">BACK TO SHOP</a>{% endblock %}

{% block content %}
  <div class="w3-container w3-text-grey">
	  <p></p>
	<table>
	<tr>
	<th><b>Product</b></th>
	<th><b>Quantity</b></th>
	<th><b>Unit Price</b></th>
	<th><b>Total Price</b></th></tr>
	{% for item in items %}
	
<tr>
			<td> {{ item.product.name }} </td>
			<td> {{ item.quantity}}</td>
			<td> {{ '%0.2f' | format(item.product.price) | float }}</td>
			<td> {{ '%0.2f' | format(item.quantity * item.product.price) | float }}</td>

		</tr>			
	
	{% endfor %}
</table>
<p align="right">
	<form method="post" action="/cart?name={{person}}">
	  <button type="submit" name="name" value="{{person}}">
	    Empty Shopping Cart
	  </button>
	</form>
</p>
<p align="right">
	<form method="post" action="/cart?name={{person}}&checkout=true">
	  <button type="submit" name="name" value="{{person}}">
	    Check Out and Pay
	  </button>
	</form>
	</p>
  </div>





{% endblock %}
