{% extends "layout.html" %}
{% block title %}
      <h1 class="w3-jumbo w3-hide-small">{{person}}'s Shopping Cart</h1>
      <h1 class="w3-hide-large w3-hide-medium">{{person}}'s Shopping Cart</h1>
      <h1 class="w3-hide-small"></h1>
{% endblock %}
{% block titlebutton %}<a href="/shop?name={{person}}" class="w3-button w3-black w3-padding-large w3-large">BACK TO SHOP</a>{% endblock %}

{% block content %}
  <div class="w3-container w3-text-grey">
	<p>
	<form method="post" action="/cart?name={{person}}">
	  <button type="submit" name="name" value="{{person}}">
	    Empty Shopping Cart
	  </button>
	</form>
        </p>
	This is your current shopping cart:
	<ul>
	
	{% for item in items %}
	
		<li>{{ item }}</li>
	
	{% endfor %}
	
	</ul>
        <p>
	<form method="post" action="/cart?name={{person}}">
	  <button type="submit" name="name" value="{{person}}">
	    Check Out and Pay
	  </button>
	</form>
	</p>
  </div>





{% endblock %}
