{% extends "layout.html" %}
{% block title %}
      <h1 class="w3-jumbo w3-hide-small"><font color="black">{{person}}'s Shopping Cart</font></h1>
      <h1 class="w3-hide-large w3-hide-medium">{{person}}'s Shopping Cart</h1>
      <h1 class="w3-hide-small"></h1>
{% endblock %}

{% block content %}
  <div class="w3-container w3-text-grey">
	  <p></p>
	<table id="cart_table">
	<tr id="header_row">
	<th:19 id="product_col"><b>Product</b></th>
	<th id="quantity_col"><b>Quantity</b></th>
	<th id="unit_price_col"><b>Unit Price</b></th>
	<th id="total_price_col"><b>Total Price</b></th></tr>

    {% set i=0 %}	
	{% for item in items %}
      {% set i = i + 1 %}	
<tr id="row_{{i}}">
			<td id="product_col_{{i}}"> {{ item.product.name }} </td>
			<td id="quantity_col_{{i}}"> {{ item.quantity}}</td>
			<td id="unit_price_col_{{i}}"> {{ '%0.2f' | format(item.product.price) | float }}</td>
			<td id="total_price_col_{{i}}"> {{ '%0.2f' | format(item.quantity * item.product.price) | float }}</td>
		</tr>			
	{% endfor %}
</table>
<p align="right">
	  <button onclick='empty_cart("{{ person }}")' type="submit" name="empty_cart" value="{{person}}">
	    Empty Shopping Cart
	  </button>
</p>
<p align="right">
	  <button onclick='checkout_cart("{{ person }}")' type="submit" name="checkout_cart" value="{{person}}">
	    Check Out and Pay
	  </button>
	</p>
<p align="right">
	  <button onclick='apply_discount("{{ person }}")' type="submit" name="apply_discount" value="{{person}}">
		Apply 10% Discount
	  </button>
	</p>
  </div>

{% endblock %}
