<!DOCTYPE html>
<html>
<head>
  <title>The Webshop</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href=".">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .w3-sidebar a {font-family: "Roboto", sans-serif}
  body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
  </style>
</head>
<body class="w3-content" style="max-width:1200px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
  <div class="w3-container w3-display-container w3-padding-16">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>The Webshop</b></h3>
  </div>
  <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
    <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">Some Products</a>
    <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">More Products</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
      Special Products <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
      <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Cool Stuff</a>
      <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">More Cool Stuff</a>
      <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">Slightly Less Cool Stuff</a>
      <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">Generic Stuff</a>
    </div>
    <a href="/shop?name={{person}}#cats" class="w3-bar-item w3-button">Big Products</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Cool Products</p>
    <p class="w3-right">
<a href="/cart?name={{person}}"><i class="fa fa-shopping-cart w3-margin-right"></i></a>
      <i class="fa fa-search"></i>
    </p>
  </header>


  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <!--<img src="https://placekitten.com/900/450" alt="Jeans" style="width:100%">-->
    <img src="/static/Grafana_LinkedIn_banner4.png" alt="Grafana" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      {% block title %}
      {% endblock %}
      <p>{% block titlebutton %}{% endblock %}</p>
    </div>
  </div>


  {% block content %}{% endblock %}

  <!-- End page content -->
</div>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

document.getElementById("myBtn").click();


function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
</body>
</html>





