{% extends "layout.html" %}

{% block title %}
      <h1 class="w3-jumbo w3-hide-small">Welcome!</h1>
      <h1 class="w3-hide-large w3-hide-medium">Welcome!</h1>
      <h1 class="w3-hide-small"></h1>
{% endblock %}

{% block content %}


    <div class="container">
      <h1>Please Choose Name</h1>
      <br>
      Choose a name and try to:<br>
      <ul>
	<li>Put a product into the shopping cart.</li>
	<li>Then check out the product.</li>
	<li>There might be issues and errors along the way, but try as long as needed to successfully check out your item.</li>
      <br><br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}
