{% extends "layout.html" %}

{% block title %}
      <h1 class="w3-jumbo w3-hide-small">Welcome!</h1>
      <h1 class="w3-hide-large w3-hide-medium">Welcome!</h1>
      <h1 class="w3-hide-small"></h1>
{% endblock %}

{% block content %}


    <div class="container">
      <h1>Please login</h1>
      <br>
      This is a user experience demo for a web shop application and it should only take a few seconds.
      <br><br>
      Please login and then try to buy one or more products in the web shop.
      <br><br>
      Choose your first name as username.
      <br><br>
      Please use admin as password.
      <br><br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
{% endblock %}
